@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #fffffa;
  --BORDER-COLOR: #3b416d;
  --COLOR: #3b416d;
  --ERROR: rgb(151 54 52);
  --INACTIVE: lightgray;
  --LINK-COLOR: #3b416d;
  --LINK-HOVER: hsl(233deg 30% 50%);
  --ISSUE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-DONE: #067856;
  --STATUS-IN-PROGRESS: #3b416d;
  --STATUS-NOT-STARTED: rgb(151 54 52);
  --TABLE-BGCOLOR: #fffffa;
  --TABLE-COLOR: #3b416d;
}

/* || UTILITY CLASSES */
p.offscreen {
  display: none;
}

.errmsg {
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
  outline: 2px solid var(--ERROR);
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  border: none;
  display: grid;
  place-content: center;
  cursor: pointer;
  border-radius: 0.25rem;
}

.icon-button--icon {
  font-size: 1.5rem;
  vertical-align: bottom;
}

.icon-button:hover,
.icon-button:focus-visible {
  background-color: var(--COLOR);
  color: var(--BGCOLOR);
}

.icon-button[disabled] {
  visibility: hidden;
}

.icon-button--remove {
  font-size: 1rem;
  border-color: var(--ERROR);
  background-color: var(--BGCOLOR);
  color: var(--ERROR);
  cursor: pointer;
  border-style: solid;
  border-radius: 15px;
  padding-inline: 1rem;
  width: fit-content;
  height: 2.5rem;
  margin-top: 2rem;
}

.icon-button--remove:hover,
.icon-button--remove:focus-visible {
  background-color: var(--ERROR);
  color: var(--BGCOLOR);
  border-style: solid;
}

.icon-button--remove[disabled] {
  cursor: not-allowed;
  background-color: var(--INACTIVE);
  color: var(--GCOLOR);
  border-color: var(--INACTIVE);
}

.icon-button--action {
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--COLOR);
  color: var(--BGCOLOR);
  border-color: var(--COLOR);
  border-style: solid;
  border-radius: 15px;
  padding-inline: 1rem;
  width: fit-content;
  height: 2.5rem;
  margin-top: 2rem;
}

.icon-button--action:hover,
.icon-button--action:focus-visible {
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
}

.icon-button--action[disabled] {
  cursor: not-allowed;
  background-color: var(--INACTIVE);
  color: var(--BGCOLOR);
  border-color: var(--INACTIVE);
}

/* || GENERAL STYLES */

body {
  font-family: "Poppins", sans-serif;
  /* min-height: 100vh; */
  min-height: 100%;
  height: 100%;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
  color: var(--COLOR);
}

#root {
  /* React root div */
  /* min-height: 100vh; */
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--LINK-COLOR);
  text-decoration: underline;
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public__main,
.login {
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.public__addr {
  margin-top: 1em;
}

.welcome a::before {
  content: "➜ ";
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 2px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  /* position: sticky; */
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
  align-items: center;
  position: fixed;
  /* bottom: 10px; */
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  color: var(--TABLE-COLOR);
}

.table--users {
  grid-template-columns: minmax(max-content, 1fr) 2fr max-content;
}

.table--issues {
  grid-template-columns: minmax(30%, 3fr) repeat(2, minmax(max-content, 1fr)) max-content;
}

.issue__type {
  display: block;
}

.issue__created,
.issue__updated,
.issue__username,
.issue__submitter {
  display: none;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__th {
  font-weight: bold !important;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

/* ||  ISSUE */

.issue__status {
  font-weight: 600;
}

.issue__status--not-started {
  color: var(--STATUS-NOT-STARTED);
}

.issue__status--in-progress {
  color: var(--STATUS-IN-PROGRESS);
}

.issue__status--done {
  color: var(--STATUS-DONE);
}

/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.form__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.form__wrapper--child {
  min-width: max-content;
  width: 48%;
  margin-bottom: 0.25em;
  display: flex;
  flex-grow: 1;
}

.form__label--wrapper {
  padding-right: 1rem;
}

.form__label {
  font-weight: 600;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
  border: solid;
}

.form__submit-button {
  cursor: pointer;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
}

.form__submit-button:hover,
.form__submit-button:focus-visible {
  background-color: var(--COLOR);
  color: var(--BGCOLOR);
}

.form__submit-button[disabled] {
  cursor: not-allowed;
  background-color: var(--INACTIVE);
  color: var(--GCOLOR);
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  outline: 2px solid var(--ERROR);
  border-color: transparent;
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
  flex-grow: 1;
}

.form__select--wrapper {
  margin-right: 1rem;
  flex-grow: 1;
}

.form__action-buttons {
  display: flex;
  align-items: center;
  gap: 0.5em;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.form__id {
  font-size: 1rem;
}

.form__input--toggle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.form__input--roles-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;
}

p.loading-animation-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

p.loading-animation {
  display: flex !important;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* -------- Toggle Switch -------- */

/* The switch - the box around the slider */
.form__input--checkboxes {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.form__input--checkboxes input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--INACTIVE);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  /* background-color: #2196f3; */
  /* background-color: var(--STATUS-DONE); */
  background-color: var(--COLOR);
}

input:focus + .slider {
  /* box-shadow: 0 0 1px var(--STATUS-DONE); */
  box-shadow: 0 0 1px var(--COLOR);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 440px) {
  h1 {
    font-size: 1.5rem;
  }

  .dash-header__nav {
    gap: 0;
  }

  .icon-button {
    font-size: 1rem;
  }

  .table--issues {
    grid-template-columns: minmax(30%, 3fr) minmax(max-content, 1fr) max-content;
  }

  .issue__created,
  .issue__updated,
  .issue__type,
  .issue__username,
  .issue__submitter {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .dash-header {
    padding: 0 1em;
  }

  .dash-container {
    padding: 1em;
  }

  .table {
    font-size: 1rem;
  }

  .table--issues {
    grid-template-columns: minmax(10%, 3fr) repeat(5, minmax(max-content, 1fr)) max-content;
  }

  .issue__created,
  .issue__updated,
  .issue__type,
  .issue__username,
  .issue__submitter {
    display: block;
  }

  .form__action-buttons {
    position: static;
  }
}
